# Secrets
.env

# Virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Build / distribution
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / editors
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Testing / coverage
.pytest_cache/
.coverage
htmlcov/

# Jupyter
.ipynb_checkpoints/